extends layout

block content
    .panel.panel-default
        .panel-heading IMSI Set
        .panel-body 
            form(action='/device', method='POST')
                fieldset
                    .form-group.row
                        .col-xs-12
                            input.form-control(type='text', name='imsi', placeholder='IMSI Number') 
                    .form-group.row
                        .col-xs-12
                            input.form-control(type='text', name='deviceId', placeholder='Device Id')
                    .form-group.row
                        .col-xs-12
                            select.form-control(name='type')
                                option(value='central') IoT Central
                                |     
                                option(value='hub') IoT Hub
                                |   
                    .form-group.row
                        .col-xs-2
                            button.btn.btn-primary(type='submit') Submit  
    .panel.panel-default
        .panel-heading IMSI Reset
        .panel-body 
            form(action='/imsi' method="DELETE")
                fieldset
                    .form-group.row
                        .col-xs-12
                            input.form-control(type='text', name='deviceId', placeholder='Device Id')
                    .form-group.row
                        .col-xs-2
                            button.btn.btn-primary(type='submit') Submit  
    .panel.panel-default
        .panel-heading Status Bar
        .panel-body 
            block content
                pre #{status}

